.footer {
  background-color: #D6D6D6;
  padding: 40px 0;
  margin-top: 50px;
}

// Footer items

.footer-icons{
  height: 50px;
  width: 50px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(black, 0.2);
}

.btn-footer {
  color: #659157;
  border-radius: 50%;
  font-weight: bold;
  background: #fafafa;
  transition: background 0.3s ease;
  margin: 20px;
  &:hover {
    text-decoration: none !important;
    background: #659157 !important;
    color: #fafafa !important;
  }
}

.footer-social {
  align-items: center;
  justify-content: center;
  display: flex;
}

