/* Main class */
.navbar {
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px !important;
  position: absolute;
  padding: 0 30px;
  width: 100%;
  background: transparent;
  // .transparant {
  //   background-color: rgba(255,255,255,0.5)
  // }
}

/* Navbar item */
.navbar-item {
  flex: 0 0 20%;
  cursor: pointer;
  color: #fafafa;
  padding: 10px;
}

/* Navbar standard link */
.navbar-link {
  color: #fafafa;
  font-size: 14px;
}
.navbar-link:hover {
  color: #262625 !important;
  text-decoration: none !important;
}
