/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
// @media only screen and (max-width: 400px) {
// body { font-size:90%;}
// }

// @media only screen and (max-width: 800px) {
// body { font-size:100%;}
// }

// @media only screen and (max-width: 1100px) {
// body { font-size:120%;}
// }


.container-text {
  text-align: center;
  //background-color: #fafafa;
  padding-bottom: 20px;
  padding-top: 20px;
}

.content {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fafafa;
  padding-bottom: 20px;
}

.content-poster-section {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fafafa;
  padding-bottom: 20px;
  padding-top: 20px;
}

.content-video {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fafafa;
  padding-bottom: 20px;
  padding-top: 20px;
}

.content-citaat {
  background-color: #fafafa;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-map {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fafafa;
  padding-bottom: 20px;
}
.section-title-border {
  z-index: 2000;
  //padding: 50px 0;
  width: 70px;
  height: 3px;
  margin: 0 auto 35px;
  background-color: #cf3f45;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px !important;
  padding-top: 20px;
}


.makers-content {
  display: flex;
  justify-content: center;
}

.makers-image {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.poster-content {
  display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
}
