/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.container-text {
  text-align: center;
  //background-color: #fafafa;
  padding-bottom: 20px;
}

.content {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fafafa;
}

.content-citaat {
  background-color: #fce8e8;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.content-map {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fafafa;
  padding-bottom: 20px;
}
.section-title-border {
  z-index: 2000;
  //padding: 50px 0;
  width: 70px;
  height: 3px;
  margin: 0 auto 35px;
  background-color: #cf3f45;
  // background-color: rgba(0, 0, 0, 0.6);
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px !important;
  padding-top: 20px;
}

.wrapper-carousel {
  margin: 20px;
}

.makers-content {
  display: flex;
  justify-content: center;
}

.makers-image {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin: auto;
}
