<div class="navbar">

    <!-- Text link -->
    <a href="#devoorstelling" class="navbar-item navbar-link">De voorstelling</a>
    <!-- Text link -->
    <a href="#speeldataenlocaties" class="navbar-item navbar-link">Speeldata en locaties</a>
    <!-- Text link -->
    <a href="#demakers" class="navbar-item navbar-link">De makers</a>
    <a href="#contact" class="navbar-item navbar-link">Contact</a>

</div>
