---
title: Dan maak je maar zin
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'me.jpg' %>);">
  <div class="banner-content">
    <h1>Dan maak je maar zin</h1>
    <p>Een voorstelling met muziek en tekst</p>
    <a class="btn btn-primary btn-lg">Reserveer nu!</a>
  </div>
</div>

<section id="devoorstelling">
  <div class="wrapper">
    <div class="container-text">
      <div class="content">
          <h1 class="title">De voorstelling</h1>
          <div class="section-title-border"></div>
          <p>Er was een opdracht: verwezenlijk jezelf. Er was een oneindigheid van mogelijkheden. Er was de belofte, dat jij het in je had om succesvol te worden, boven iedereen uit te stijgen. Beloftes blijken illusies. Ambitie wordt barrière, mogelijkheid wordt beklemming. Je bent een wandelaar. En je valt.
          De Odyssee van een generatie. Een zoektocht naar wat er over blijft als zekerheden wegvallen, als wat succes betekende leeg blijkt te zijn. Een ontknoping van het narratief van succes. En het resultaat: het verval, de val. Een verhaal verteld door middel van muziek en tekst.
          Muziek : Thijs van den Geest.
          Tekst: Willemijn van den Geest. </p>
      </div>
    </div>
  </div>
</section>

<section id="speeldataenlocaties">
<div class="wrapper">
  <div class="container-text">
    <div class="content">
        <h1 class="title"><strong>Speeldata en locaties</strong></h1>
          <div class="section-title-border"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dignissimos repellendus tempore nam, voluptatum alias deserunt ex necessitatibus culpa laboriosam iste corrupti beatae explicabo quaerat pariatur, reiciendis, architecto harum ut, labore dolore! Accusantium beatae ipsam ipsum rerum officiis quia eaque ullam modi asperiores delectus deserunt iste commodi eum praesentium qui ratione dignissimos cum mollitia facere dolores, voluptas nesciunt voluptate eos.</p>
    </div>
  </div>
</div>
</section>

<section id="demakers">
<div class="wrapper">
  <div class="container-text">
    <div class="content">
        <h1 class="title"><strong>De makers</strong></h1>
        <div class="section-title-border"></div>
        <p>Wij zijn Thijs en Willemijn, broer en zus, 21 en 27 jaar, beginnende makers, aan het begin van onze loopbaan, op zoek naar zin. Thijs is vierdejaars student Jazz trompet aan het conservatorium in Amsterdam. Willemijn studeerde Nederlands en Filosofie in Groningen en Amsterdam.</p>
    </div>
  </div>
</div>
</section>

<section id="contact">
<div class="wrapper">
  <div class="container-text">
    <div class="content">
        <h1 class="title"><strong>Contact</strong></h1>
        <div class="section-title-border"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ipsum fuga, nobis nam dicta fugit maiores quasi, possimus et ullam asperiores debitis ducimus iusto impedit autem nihil consequuntur vitae. Quisquam accusantium perferendis quasi laboriosam beatae, repellendus nesciunt nobis odio aliquam ipsum tempore, quod cum suscipit incidunt cumque et dolorum nisi, qui modi itaque deserunt! Perspiciatis nisi porro quas perferendis at.</p>
    </div>
  </div>
</div>
</section>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="me.jpg" alt="...">
      <!-- <div class="carousel-caption">
        ...
      </div> -->
    </div>
    <div class="item">
      <img src="me.jpg" alt="...">
      <!-- <div class="carousel-caption">
        ...
      </div> -->
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

