---
title: Dan maak je maar zin
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.scoutshoogland.be/sites/scoutshoogland.scoutsgroep.be/files/nieuws/mooie-zee-achtergronden-leuke-hd-zee-wallpapers-afbeelding-plaatje-foto-257.jpg');">
  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<section id="devoorstelling">
<div class="wrapper">
  <div class="container">
    <div class="section section-solid">
      <div class="text-center padded features transparant" style="padding-left: 70px; padding-right: 70px">
        <div class="row">
        <div class="col-xs-12">
            <h1><strong>De voorstelling</strong></h1>
            <div class="section-title-border"></div>
            <p>I am a Ruby on Rails web developer. After I gratuated in Arts and Cultural studies I decided I wanted to learn a new skill: coding. During a 12-weeks bootcamp of Le Wagon I mastered myself in front-end and back-end development.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section id="speeldataenlocaties">
<div class="wrapper">
  <div class="container">
    <div class="section section-solid">
      <div class="text-center padded features transparant" style="padding-left: 70px; padding-right: 70px">
        <div class="row">
        <div class="col-xs-12">
            <h1><strong>De voorstelling</strong></h1>
            <div class="section-title-border"></div>
            <p>I am a Ruby on Rails web developer. After I gratuated in Arts and Cultural studies I decided I wanted to learn a new skill: coding. During a 12-weeks bootcamp of Le Wagon I mastered myself in front-end and back-end development.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section id="demakers">
<div class="wrapper">
  <div class="container">
    <div class="section section-solid">
      <div class="text-center padded features transparant" style="padding-left: 70px; padding-right: 70px">
        <div class="row">
        <div class="col-xs-12">
            <h1><strong>De voorstelling</strong></h1>
            <div class="section-title-border"></div>
            <p>I am a Ruby on Rails web developer. After I gratuated in Arts and Cultural studies I decided I wanted to learn a new skill: coding. During a 12-weeks bootcamp of Le Wagon I mastered myself in front-end and back-end development.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section id="contact">
<div class="wrapper">
  <div class="container">
    <div class="section section-solid">
      <div class="text-center padded features transparant" style="padding-left: 70px; padding-right: 70px">
        <div class="row">
        <div class="col-xs-12">
            <h1><strong>Contact</strong></h1>
            <div class="section-title-border"></div>
            <p>I am a Ruby on Rails web developer. After I gratuated in Arts and Cultural studies I decided I wanted to learn a new skill: coding. During a 12-weeks bootcamp of Le Wagon I mastered myself in front-end and back-end development.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
